body {
  background-color: var(--mainBg);
  color: var(--white);
}

.container {
  padding: 25px;
  width: 100%;
  min-width: 100%;
  margin: 0 auto;
  position: relative;
}

.more {
  margin: 0 auto;
  margin-top: 40px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: var(--white300);
  color: var(--black300);
  font-family: 'nanumSquareNeo';
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
    background-color: var(--white500);
  }
}

#main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'nanumSquareNeo';
  padding-top: 90px;
}
